.calculator-container {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .calculator-container h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: black;
  }

  .calculator-input {
    width: 200px;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid white;
  }

  .calculator-button {
    padding: 10px;
    margin: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.result-container {
    width: 200px;
    align-items: center;
    margin-top: 10px;
  }
  
  .result-input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    align-items: center;
    border: 1px solid white;
    background-color: white;
    color: black; 
    font-size: 1rem;
  }
  