
.page-title {
  font-size: 4.5rem;
  margin-left: 500px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
  margin-top: 50px;
  background-color: black;
  padding: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: 10px 10px 10px rgba(73, 73, 73, 0.5);
  box-sizing: border-box;
  background-color: rgba(155, 155, 155, 0.40);
}

.featured-list-container {
  width: 100%;
  margin-bottom: 5rem;
  aspect-ratio: 22 / 10;
}

.featured-backdrop {
  margin-top: 30px;
  height: 100%;
  width: 90%;
  background-size: cover !important;
  display: flex;
  align-items: end;
  margin-left: 60px;
  margin-right: 60px;

}
.featured-movie-title {
  font-weight: bold;
  font-size: 3rem;
  width: 100%;
  padding: 2rem;
}
