.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    max-height: 600px;
    height: 100vh;
  }
  
  .form-container {
    padding: 2rem 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 400px; 
  }

  .main-container h3 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #0f0;
  }
  
  .form-container > div {
    margin-bottom: 10px;
    width: 100%; 
  }
  
  
  .form-group {
    display: flex;
    width: 100%;
  }
  
  .form-group label {
    width: 100px;
    margin-right: 8px;
    text-align: left;
  }
  
  .form-group input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .errors {
    color: red;
    font-size: 12px;
  }

  button {
    background-color: #0f0;
    color: white;
    padding: 10px 135px;
    border: none;
    width: 100%;  
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .submit-container {
    margin-top: 12px;
    text-align: center;
    color: #0f0;
  }
  
  .register-container {
    text-align: center;
  }
  
  .show-password {
    margin-bottom: 1rem;
    cursor: pointer;
  }
  