.lists-container {
  font-size: 60%;
  width: 100%;
  padding: 1.5rem;
  background-image: url('/dark bg.png');
  background-repeat: no-repeat;
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  object-fit: cover;
}

.lists-container h1 {
  color: white;
  font-size: 2rem; 
}


.create-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.create-container button {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #2e5266FF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.create-container button:hover {
  background-color: rgb(30, 109, 151);
  box-shadow: 0 0 8px #2e5266FF;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  border-radius: 8px;
  border: 1px solid gray;
  background-color: #121212;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.movie-lists {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

.movie-lists th,
.movie-lists td {
  padding: 0.5rem; 
  text-align: center;
  color: white;
  font-size: 0.9rem; 
}

.movie-lists th {
  background-color: #333;
  font-size: 1rem;
}

.movie-lists tr {
  height: auto; 
}

.movie-lists tr:nth-child(even) {
  background-color: #1f1f1f;
}

.movie-lists tr:hover {
  background-color: #2c2c2c;
}

.movie-lists button {
  padding: 2% 1%; 
  width: 60%;
  margin-bottom: 0%;
  margin-top: 2%;
  border: none;
  border-radius: 6px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.movie-lists button:first-child {
  background-color: #2e5266FF;
  color: white;
}

.movie-lists button:first-child:hover {
  background-color: rgb(30, 109, 151);
  box-shadow: 0 0 12px #2e5266FF;
}

.movie-lists button:last-child {
  background-color: #660000;
  color: white;
}

.movie-lists button:last-child:hover {
  background-color: #b30505;
  box-shadow: 0 0 12px #b30505;
}
